body {
    background-color: rgb(220, 219, 219);
}

::backdrop {
  background-image: linear-gradient(
    45deg,
    magenta,
    rebeccapurple,
    dodgerblue,
    green
  );
  opacity: 0.75;
}

.header {
    height: 20vh;
    margin: 0;
    background-color: rgb(144, 143, 143);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}

@media (max-width: 248px) {
  .header p {
      display: none;
  }
}

.add-button {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

#add-book-btn {
  padding: 20px 30px;
  border-radius: 10px;
  font-size: 20px;
  background-color: rgb(144, 143, 143);
  color: white;
}
 