body {
    background-color: rgb(220, 219, 219);
}

::backdrop {
  background-image: linear-gradient(
    45deg,
    gray,
    white
  );
  opacity: 0.75;
}

#add-book-form {
  width: 300px;
  padding: 20px;
  border-radius: 10px;
  font-size: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-button {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

#add-book-btn,
#add-book-form button {
  border-radius: 10px;
  background-color: rgb(144, 143, 143);
  color: white;
  padding: 10px 50px;
  font-size: 20px;
}

#add-book-form select {
  text-align: center;
  width: 100px;
  margin-top: 5px;
}

#add-book-form input {
  width: 300px;
  margin-top: 5px;
  margin-bottom: 15px;
}

.header {
    height: 20vh;
    margin: 0;
    background-color: rgb(144, 143, 143);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}

@media (max-width: 24px) {
  .header p {
      display: none;
  }
}

#library {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  margin: 20px;
}

.book-card {
  border: 1px solid black;
  text-align: center;
  width: 250px;
  padding: 20px
}